@model UsersAndRolesViewModel
@{
    ViewBag.Title = "User role assignment";
    ViewBag.Description = "Clicking the edit user icon, on specific user, allows you to change their role for the entire site.";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rolesDisplay').DataTable({
                "columnDefs": [
                    {
                        "targets": [5],
                        "orderable": false
                    }
                ]
            });
        });
    </script>
}

@section css {
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
}

<table id="rolesDisplay" class="table-striped row-fluid">
    <thead>
        <tr>
            <th>Names:</th>
            @foreach (var item in Model.Roles)
            {
                <th>@item.Name</th>
            }
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserModels)
        {
            <tr>
                @* Example Cells *@
                <td>@user.DisplayName</td>

                @foreach (var roles in Model.Roles)
                {
                    if (user.RolesUserIsIn.Any(p => p.RoleId == roles.Id))
                    {
                        <td>✔</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td>
                    <a class="fas fa-user-edit" href="@Url.Action("RoleEditor", "Roles", new { userId = user.Id })"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

