@model CreateCommentTicketViewModel
@{
    ViewBag.Title = "Ticket Comment";
    ViewBag.Description = "Create a comment for the ticket";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Comment, "Comment: ")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(p => p.Comment, new { placeholder = "Comment here..", @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.TicketId)

        <button type="submit" class="btn btn-default">Submit</button>
</form>
